.Content{
    color: white;
    background-color: black;
    width: 100%;
    padding-left: 30px;
    background-image: url("https://images.unsplash.com/photo-1464639351491-a172c2aa2911?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80")
}